function Body.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 0
push constant 251
pop this 2
push constant 251
pop this 3
push constant 1
pop this 1
push pointer 0
return
function Body.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Body.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Body.snakeUpDown 2
push argument 0
pop pointer 0
push constant 32
pop local 0
push constant 16384
push argument 1
add
pop local 1
push local 1
push constant 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 2
push argument 1
push constant 32
sub
push constant 32
sub
pop this 3
label IF_FALSE0
push this 0
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
pop this 2
push argument 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
pop this 3
label IF_FALSE1
push constant 0
return
function Body.clearDotsUpDown 2
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 1
push constant 32
pop local 0
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push local 0
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Body.clearDotsSideways 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Body.snakeSideways 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 2
push argument 1
push constant 1
sub
pop this 3
label IF_FALSE0
push this 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 1
add
pop this 2
push argument 1
push constant 2
add
pop this 3
label IF_FALSE1
push constant 0
return
function Body.getDirection 0
push argument 0
pop pointer 0
push this 0
return
function Body.move 1
push argument 0
pop pointer 0
push this 0
push this 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
pop local 0
goto IF_END0
label IF_FALSE0
push this 2
pop local 0
label IF_END0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
call Body.snakeSideways 2
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
call Body.clearDotsSideways 2
pop temp 0
push constant 1
pop this 1
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 0
call Body.snakeSideways 2
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
call Body.clearDotsSideways 2
pop temp 0
push constant 2
pop this 1
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 0
call Body.snakeUpDown 2
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
call Body.clearDotsUpDown 2
pop temp 0
push constant 3
pop this 1
label IF_FALSE3
push this 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push local 0
call Body.snakeUpDown 2
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
call Body.clearDotsUpDown 2
pop temp 0
push constant 4
pop this 1
label IF_FALSE4
push constant 0
return
